/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Mixin h2 style */
* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Raleway';
  font-size: 10px;
  font-weight: 400;
}

/* Header Area Start */
header {
  background: url("assets/img/header_bg.jpg");
  background-size: cover;
  background-position: center center;
}
header .header-top {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 0px;
}
header .header-top nav .navbar-brand {
  color: #fff;
  text-transform: uppercase;
  font-size: 300%;
  font-weight: 600;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
@media (min-width: 0px) and (max-width: 768px) {
  header .header-top nav .navbar-brand {
    font-size: 250%;
  }
}
header .header-top nav .navbar-brand span {
  color: #4bcaff;
}
header .header-top nav .navbar-brand:hover {
  color: #4bcaff;
}
header .header-top nav .navbar-brand:hover span {
  color: #fff;
}
header .header-top nav .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 180%;
  font-weight: 500;
  margin-left: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
header .header-top nav .navbar-nav .nav-item .nav-link:hover {
  color: #4bcaff;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .header-top nav .navbar-nav .nav-item .nav-link {
    font-size: 150%;
  }
}
header .header-top nav .navbar-nav .nav-item .active {
  color: #4bcaff;
  border: 1px solid #4bcaff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
header .header-top nav .navbar-nav .nav-item .active:hover {
  background: #4bcaff;
  color: #fff;
  border-radius: 8px;
}
header .header-slogan .slogan-text {
  width: 80%;
  text-align: center;
  margin: 200px auto;
}
@media (min-width: 0px) and (max-width: 992px) {
  header .header-slogan .slogan-text {
    width: 100%;
  }
}
header .header-slogan .slogan-text h1 {
  font-size: 300%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .header-slogan .slogan-text h1 {
    font-size: 230%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header .header-slogan .slogan-text h1 {
    font-size: 170%;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  header .header-slogan .slogan-text h1 {
    font-size: 150%;
  }
}
header .header-slogan .slogan-text h1 span {
  background: #424c54;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 10px;
}

/* Header Area End*/
/* service area start */
#services {
  background: #4bcaff;
  padding: 60px 0px;
  color: #fff;
}
#services .section-title h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  font-family: 'Raleway';
  font-weight: 700;
}
#services .section-title h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fff;
  top: 33px;
  left: 0;
}
#services #service-items {
  margin-top: 30px;
}
#services #service-items .services-title h3 {
  font-size: 240%;
  font-weight: 700;
  margin: 15px 0px;
  color: #fff;
}
#services #service-items .services-content p {
  font-size: 160%;
}

/* Portfolio Style Here */
#portfolio {
  padding: 60px 0px;
}
#portfolio .section-title h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  font-family: 'Raleway';
  font-weight: 700;
  color: #424c54;
}
#portfolio .section-title h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fff;
  top: 33px;
  left: 0;
  background: #424c54;
}
#portfolio ul {
  margin: 0;
  padding: 0;
}
#portfolio ul li {
  display: inline-block;
}
#portfolio ul li button {
  background: none;
  font-size: 160%;
  display: block;
  color: #515f67;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
#portfolio ul li button:hover {
  color: #4bcaff;
}
@media (min-width: 420px) and (max-width: 992px) {
  #portfolio ul li button {
    font-size: 120%;
  }
}
@media (min-width: 0px) and (max-width: 420px) {
  #portfolio ul li button {
    font-size: 90%;
  }
}
#portfolio ul li .mixitup-control-active {
  color: #4bcaff;
  border: 1px solid #4bcaff;
}
#portfolio .portfolio-items {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#portfolio .portfolio-items .portfolio-image {
  width: 100%;
  height: auto;
}

/* Video style here */
.video-section {
  padding: 60px 0px;
  background: #424c54;
  color: #fff;
}
.video-section .section-title h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  font-family: 'Raleway';
  font-weight: 700;
}
.video-section .section-title h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fff;
  top: 33px;
  left: 0;
  background: #fff;
}
.video-section .section-description {
  padding: 20px 0px;
}
.video-section .section-description p {
  font-size: 140%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .video-section .section-description p {
    font-size: 120%;
  }
}
.video-section .visite-button {
  width: 20%;
}
@media (min-width: 0px) and (max-width: 992px) {
  .video-section .visite-button {
    width: 40%;
  }
}
.video-section .visite-button a {
  text-transform: uppercase;
  font-size: 140%;
  font-weight: 700;
  color: #fff;
  border: 1px solid #4bcaff;
  padding: 15px 10px;
  display: block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.video-section .visite-button a:hover {
  color: #353f46;
  background: #fff;
  border: 1px solid #4bcaff;
}

/* Twitter Style here */
.twitter-section {
  background: #4bcaff;
  padding: 60px 0px;
  color: #fff;
}
.twitter-section .section-title h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  font-family: 'Raleway';
  font-weight: 700;
}
.twitter-section .section-title h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fff;
  top: 33px;
  left: 0;
  background: #fff;
}
.twitter-section .twitter-icon i {
  font-size: 250%;
  color: #fff;
}
.twitter-section .twitter-descrioption {
  padding-top: 20px;
}
@media (min-width: 0px) and (max-width: 992px) {
  .twitter-section .twitter-descrioption br {
    display: none;
  }
}
.twitter-section .twitter-descrioption p {
  font-size: 220%;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 992px) {
  .twitter-section .twitter-descrioption p {
    font-size: 180%;
  }
}

/* About style here */
.about-section {
  background-image: url("assets/img/about-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto;
  color: #fff;
}
.about-section .section-title h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  font-family: 'Raleway';
  font-weight: 700;
}
.about-section .section-title h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fff;
  top: 33px;
  left: 0;
  background: #fff;
}
.about-section .about-inner {
  padding: 60px 0px;
}
.about-section .about-inner .about-description {
  padding-top: 40px;
}
.about-section .about-inner .about-description p {
  font-size: 140%;
  text-align: justify;
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-section .about-inner .about-description p {
    font-size: 120%;
  }
}
.about-section .about-inner .about-description .social-icon i {
  font-size: 250%;
  color: #fff;
  margin-right: 10px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}
.about-section .about-inner .about-description .social-icon i:hover {
  color: #fff;
  background: #4bcaff;
  border: 1px solid #4bcaff;
}

/* Testimonial Style Here */
.testimonial {
  color: #424c54;
  padding: 60px 0px;
}
.testimonial .section-title h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  font-family: 'Raleway';
  font-weight: 700;
  color: #424c54;
}
.testimonial .section-title h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fff;
  top: 33px;
  left: 0;
  background: #424c54;
}
.testimonial .quoat-icon i {
  font-size: 220%;
}
.testimonial .testimonial-description {
  padding-top: 30px;
}
.testimonial .testimonial-description p {
  font-size: 250%;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 992px) {
  .testimonial .testimonial-description p {
    font-size: 200%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonial .testimonial-description p {
    font-size: 170%;
  }
}

/* Contact Style Here */
.contact-section {
  background-image: url("assets/img/contact-us.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.contact-section .contact-inner {
  padding: 60px 0px;
  color: #fff;
}
.contact-section .contact-inner .section-title h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  font-family: 'Raleway';
  font-weight: 700;
  color: #fff;
}
.contact-section .contact-inner .section-title h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fff;
  top: 33px;
  left: 0;
  background: #fff;
}
.contact-section .contact-inner .contact-form {
  padding-top: 40px;
}
.contact-section .contact-inner .contact-form label {
  font-size: 140%;
  font-weight: 600;
}
.contact-section .contact-inner .contact-form input, .contact-section .contact-inner .contact-form .message textarea {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 470px;
  height: 60px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .contact-section .contact-inner .contact-form input, .contact-section .contact-inner .contact-form .message textarea {
    width: 300px;
    height: 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact-section .contact-inner .contact-form input, .contact-section .contact-inner .contact-form .message textarea {
    width: 100%;
    height: 40px;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .contact-section .contact-inner .contact-form .message {
    margin-top: 20px;
  }
}
.contact-section .contact-inner .contact-form .message textarea {
  width: 100%;
  height: 220px;
  resize: none;
}
.contact-section .contact-inner .contact-form .contact-description p:first-child {
  margin-top: 25px;
  font-size: 140%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .contact-section .contact-inner .contact-form .contact-description p:first-child {
    font-size: 110%;
  }
}
.contact-section .contact-inner .contact-form .contact-description p:last-child {
  font-size: 140%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .contact-section .contact-inner .contact-form .contact-description p:last-child {
    font-size: 110%;
  }
}
.contact-section .contact-inner .contact-form .submit-button {
  color: #fff;
  padding: 10px 100px;
  background: #4bcaff;
  border: none;
  font-size: 140%;
  font-weight: 600;
  cursor: pointer;
}

/* Footer Style Here */
.footer-section {
  padding: 60px 0px;
  background: #424c54;
  color: #fff;
}
@media (min-width: 0px) and (max-width: 420px) {
  .footer-section .footer-menu {
    text-align: center;
  }
}
.footer-section .footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-section .footer-menu ul li {
  display: inline-block;
}
.footer-section .footer-menu ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 160%;
}
@media (min-width: 0px) and (max-width: 420px) {
  .footer-section .footer-menu ul li a {
    font-size: 120%;
  }
}
.footer-section .footer-menu ul li a:hover {
  color: #4bcaff;
  text-decoration: underline;
}
.footer-section .footer-menu ul li span {
  border-right: 1px solid #ddd;
  margin: 0 15px;
}
