$theme_color: #4bcaff;
$section_color: #424c54;
$text_primary_color: #fff;
$text_secondary_color: #dcdedf;
$section_padding: 60px 0px;

/* Mixin h2 style */
@mixin heading_title(){
	color: $text_primary_color;
	font-size: 250%;
	font-weight: 200;
	text-transform: uppercase;
	position: relative;
	font-family: 'Raleway';
	font-weight: 700;
}
@mixin heading_after(){
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background: $text_primary_color;
	top: 33px;
	left: 0;
}
*{
  margin: 0;
  padding: 0;
}
body, html{
  font-family: 'Raleway';
  font-size: 10px;
  font-weight: 400;
}
/* Header Area Start */
header{
	background: url('assets/img/header_bg.jpg');
	background-size: cover;
	background-position: center center;

	.header-top{
		background: rgba(0, 0, 0, .6);
		padding: 20px 0px;


		nav{
			.navbar-brand{
				color: $text_primary_color;
				text-transform: uppercase;
				font-size: 300%;
				font-weight: 600;
				transition: all .4s;
				@media (min-width: 0px) and (max-width: 768px){
					font-size: 250%;
				}
				span{
					color: $theme_color;
				}	
				&:hover{
					color: $theme_color;
					span{
						color: $text_primary_color;
					}
				}
			}

			.navbar-nav .nav-item .nav-link {
					color: white;
					font-size: 180%;
					font-weight: 500;
					margin-left: 15px;
					text-transform: uppercase;
					border: 1px solid transparent;
					transition: all .4s;
					&:hover{
						color:$theme_color;
					}
				@media (min-width: 768px) and (max-width: 992px){
					font-size: 150%;
				}
			}
			.navbar-nav .nav-item .active{
				color:$theme_color;
				border: 1px solid $theme_color;
				transition: all .5s;
				&:hover{
					background: $theme_color;
					color: $text_primary_color;
					border-radius: 8px;
				}
			}
		}
	}

	.header-slogan{
		.slogan-text{
			width: 80%;
			text-align: center;
			margin: 200px auto;
			@media (min-width: 0px) and (max-width: 992px){
				width: 100%;
			}
			h1{
				font-size: 300%;
				color: $text_primary_color;
				text-transform: uppercase;
				font-weight: 400;
				margin-bottom: 0;
				@media (min-width: 768px) and (max-width: 992px){
					font-size: 230%;
				}
				@media (min-width: 576px) and (max-width: 768px){
					font-size: 170%;
				}
				@media (min-width: 0px) and (max-width: 576px){
					font-size: 150%;
				}
				span{
					background: $section_color;
					display: inline-block;
					padding: 10px 15px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

/* Header Area End*/

/* service area start */


#services{
	background: $theme_color;
	padding: $section_padding;
	color: $text_primary_color;

	.section-title h2{
		@include heading_title();
		&:after{
			@include heading_after();
		}
	}

	#service-items{
		margin-top: 30px;

		.services-title h3{
			font-size: 240%;
			font-weight: 700;
			margin: 15px 0px;
			color: $text_primary_color;
		}

		.services-content p{
			font-size: 160%;
		}
	}

}

/* Portfolio Style Here */
#portfolio{
	padding: $section_padding;
	.section-title h2{
		@include heading_title();		
		color: $section_color;
		&:after{
			@include heading_after();
			background: $section_color;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			button{
				background: none;
				font-size: 160%;
				display: block;
				color: #515f67;
				padding: 10px 15px;
				text-transform: uppercase;
				font-weight: 700;
				border: 1px solid transparent;
				cursor: pointer;
				transition: all .5s;
				&:hover{
					color: $theme_color;
				}
				@media (min-width: 420px) and (max-width: 992px){
					font-size: 120%;
				}
				@media (min-width: 0px) and (max-width: 420px){
					font-size: 90%;
				}
			}
			.mixitup-control-active{
				color: $theme_color;
				border: 1px solid $theme_color;
			}
		}
	}

	.portfolio-items{
		padding-top: 40px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
	
		.portfolio-image{
			width: 100%;
			height: auto;
		}
	}
}

/* Video style here */
.video-section{
	padding: $section_padding;
	background: $section_color;
	color: $text_primary_color;

	.section-title h2{
		@include heading_title();
		&:after{
			@include heading_after();
			background: $text_primary_color;
		}
	}
	.section-description{
		padding: 20px 0px;
		p{
			font-size: 140%;
			@media (min-width: 768px) and (max-width: 992px){
				font-size: 120%;
			}
		}
	}
	.visite-button{
		width: 20%;
		@media (min-width: 0px) and (max-width: 992px){
			width: 40%;
		}
		a{
			text-transform: uppercase;
			font-size: 140%;
			font-weight: 700;
			color: $text_primary_color;
			border: 1px solid $theme_color;
			padding: 15px 10px;
			display: block;
			border-radius: 5px;
			text-align: center;
			text-decoration: none;
			transition: all .5s;
			&:hover{
				color: #353f46;
				background: $text_primary_color;
				border: 1px solid $theme_color;
			}
		}
	}
}

/* Twitter Style here */
.twitter-section{
	background: $theme_color;
	padding: $section_padding;
	color: $text_primary_color;
	.section-title h2{
		@include heading_title();
		&:after{
			@include heading_after();
			background: $text_primary_color;
		}
	}
	.twitter-icon{
		i{
			font-size: 250%;
			color: $text_primary_color;
		}
	}
	.twitter-descrioption{
		padding-top: 20px;
		br{
			@media (min-width: 0px) and (max-width: 992px){
				display: none;
			}
		}
		p{
			font-size: 220%;
			font-weight: 300;
			@media (min-width: 0px) and (max-width: 992px){
				font-size: 180%;
			}
		}
	}

}

/* About style here */
.about-section{
	background-image: url('assets/img/about-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: auto;
	color: $text_primary_color;

	.section-title h2{
		@include heading_title();
		&:after{
			@include heading_after();
			background: $text_primary_color;
		}
	}

	.about-inner{
		padding: $section_padding;

		.about-description{
			padding-top: 40px;
		p{
			font-size: 140%;
			text-align: justify;
			@media (min-width: 768px) and (max-width: 992px){
				font-size: 120%;
			}
		}

		.social-icon{
			i{
				font-size: 250%;
				color: $text_primary_color;
				margin-right: 10px;
				border: 1px solid $text_primary_color;
				padding: 10px;
				border-radius: 5px;
				transition: all .5s;
				cursor: pointer;
				&:hover{
					color: $text_primary_color;
					background: $theme_color;
					border: 1px solid $theme_color;
				}
			}
		}
	}
	}
}

/* Testimonial Style Here */

.testimonial{
	color: $section_color;
	padding: $section_padding;

	.section-title h2{
		@include heading_title();
		color: $section_color;
		&:after{
			@include heading_after();
			background: $section_color;
		}
	}
	.quoat-icon{
		i{
			font-size: 220%;
		}
	}

	.testimonial-description{
		padding-top: 30px;
		p{
			font-size: 250%;
			font-weight: 300;
			@media (min-width: 768px) and (max-width: 992px){
				font-size: 200%;
			}
			@media (min-width: 0px) and (max-width: 768px){
				font-size: 170%;
			}
		}
	}
}

/* Contact Style Here */

.contact-section{
	background-image: url('assets/img/contact-us.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;

	.contact-inner{
		padding: $section_padding;
		color: $text_primary_color;

		.section-title h2{
		@include heading_title();
		color: $text_primary_color;
		&:after{
			@include heading_after();
			background: $text_primary_color;
		}
		}

		.contact-form{
			padding-top: 40px;
			label{
				font-size: 140%;
				font-weight: 600;
			}
			input{
				background: transparent;
				border: 2px solid $text_primary_color;
				color: $text_primary_color;
				width: 470px;
				height: 60px;
				@media (min-width: 768px) and (max-width: 992px){
					width: 300px;
					height: 50px;
				}
				@media (min-width: 0px) and (max-width: 768px){
					width: 100%;
					height: 40px;
				}
			}
			.message{
				@media (min-width: 0px) and (max-width: 576px){
					margin-top: 20px;
				}
				textarea{
					@extend input;
					width: 100%;
					height: 220px;
					resize: none;				
				}
		}

			.contact-description{
				p:first-child{
					margin-top: 25px;
					font-size: 140%;
					@media (min-width: 768px) and (max-width: 992px){
						font-size: 110%
					}
				}
				p:last-child{
					font-size: 140%;
					@media (min-width: 768px) and (max-width: 992px){
						font-size: 110%
					}
				}
			}

			.submit-button{
				color: $text_primary_color;
				padding: 10px 100px;
				background: $theme_color;
				border: none;
				font-size: 140%;
				font-weight: 600;
				cursor: pointer;
			}
		}
	}
}

/* Footer Style Here */

.footer-section{
	padding: $section_padding;
	background: $section_color;
	color: $text_primary_color;
	.footer-menu{
		@media (min-width: 0px) and (max-width: 420px){
				text-align: center;
			}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				display: inline-block;
				a{
					color: $text_primary_color;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 160%;
					@media (min-width: 0px) and (max-width: 420px){
						font-size: 120%;
					}
					&:hover{
						color: $theme_color;
						text-decoration: underline;
					}
				}
				span {
					border-right: 1px solid #ddd;
					margin: 0 15px;
				}
			}
		}

	}
}